$font: Helvetica, Arial, sans-serif;
$font-colour: #f2f2f2;
$bg-colour: #222831;
$search-border: 3px solid #fff;

body {
  font-family: $font;
  color: $font-colour;
  background: $bg-colour;
}

.cardBlock {
  color: black;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-left: 8px;
}
