$font: Helvetica, Arial, sans-serif;
$font-colour: #f2f2f2;
$bg-colour: #21201d;
$search-border: 3px solid #fff;

body {
  font-family: $font;
  color: $font-colour;
  background: $bg-colour;
}

.cardBlock {
  color: black;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-left: 8px;
}

.deaths {
  font-size: 16px;
}

.cases {
  font-size: 16px;
}

.casesToday {
  color: #48f21d;
}

.deathsToday {
  color: #d10000;
}

.ctryFlag {
  width: 24px;
  height: 16px;
}
